<!--  $Id$
BODY {
  color: #000000;
  background: #ffffff;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12pt
}

TD, TH {
  font-family: Helvetica, Lucida, Verdana, Arial; 
}

P, B, BLOCKQUOTE, OL LI, OL, LI, UL LI, UL, DL {
  font-family: Helvetica, Lucida, Verdana, Arial; 
  font-size: 12pt
}

PRE, TT {
  font-family: Courier, Lucidatypewriter;
  font-size: 12pt
}

A:link { color: #ff8700 }
A:visited { color: #202020 }
A:active  { color: #0000dd }

H4 { 
  font-size: 12pt;
  font-family: Helvetica, Lucida, Verdana, Arial; 
}

H3 { 
  font-size: 14pt 
}

H2 { 
  font-size: 16pt 
  font-family: Helvetica, Lucida, Verdana, Arial; 
}

H1 { 
  font-size: 18pt
  font-family: Helvetica, Lucida, Verdana, Arial; 
}
-->


